server/nodered/flows.json
[
  {
    "id": "tab_unicon",
    "type": "tab",
    "label": "UNICON OPC UA Gateway",
    "disabled": false,
    "info": "Embedded Node-RED for OPC UA quick connect & log"
  },
  {
    "id": "http_auth_in",
    "type": "http in",
    "z": "tab_unicon",
    "name": "POST /authenticate",
    "url": "/authenticate",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 100,
    "wires": [["json_auth"]]
  },
  {
    "id": "json_auth",
    "type": "json",
    "z": "tab_unicon",
    "name": "parse json",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 100,
    "wires": [["fn_auth"]]
  },
  {
    "id": "fn_auth",
    "type": "function",
    "z": "tab_unicon",
    "name": "issue JWT",
    "func": "const jwt = global.get('jwt');\nconst secret = global.get('jwtSecret') || 'change-me';\nconst users = (global.get('apiUsers') || [{username:'admin',password:'admin',roles:['developer']}]);\nconst u = (msg.payload && String(msg.payload.username||'')).trim();\nconst p = (msg.payload && String(msg.payload.password||''));\nconst ok = users.find(x => x.username===u && x.password===p);\nif (!ok) { msg.statusCode = 401; msg.payload = { success:false, error:'invalid_credentials' }; return [null, msg]; }\nconst token = jwt.sign({ sub: u, roles: ok.roles||[] }, secret, { expiresIn: '8h' });\nmsg.payload = { success:true, token };\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 100,
    "wires": [["res_auth"],["res_auth"]]
  },
  {
    "id": "res_auth",
    "type": "http response",
    "z": "tab_unicon",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 730,
    "y": 100,
    "wires": []
  },
  {
    "id": "http_ds_in",
    "type": "http in",
    "z": "tab_unicon",
    "name": "GET /data-sets",
    "url": "/data-sets",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 180,
    "wires": [["fn_verify"]]
  },
  {
    "id": "fn_verify",
    "type": "function",
    "z": "tab_unicon",
    "name": "verify Bearer",
    "func": "const hdr = (msg.req && msg.req.headers && msg.req.headers.authorization) || '';\nif (!/^Bearer\s+/.test(hdr)) { msg.statusCode=401; msg.payload={success:false,error:'missing_token'}; return [null,msg]; }\nconst token = hdr.replace(/^Bearer\s+/,'');\ntry {\n  const jwt = global.get('jwt');\n  const sec = global.get('jwtSecret') || 'change-me';\n  msg.user = jwt.verify(token, sec);\n  return [msg, null];\n} catch(e){\n  msg.statusCode=401; msg.payload={success:false,error:'invalid_token'};\n  return [null,msg];\n}",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 180,
    "wires": [["fn_list_ds"],["res_ds"]]
  },
  {
    "id": "fn_list_ds",
    "type": "function",
    "z": "tab_unicon",
    "name": "list datasets",
    "func": "const cfg = global.get('opcuaServers') || {};\nconst list = Array.isArray(cfg.servers) ? cfg.servers.map(s=>({ id:s.id, name:s.name, endpoint:s.endpoint })) : [];\nmsg.payload = { success:true, dataSets: list, defaultDatasetId: cfg.defaultDatasetId || null };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 180,
    "wires": [["res_ds"]]
  },
  {
    "id": "res_ds",
    "type": "http response",
    "z": "tab_unicon",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 750,
    "y": 180,
    "wires": []
  },
  {
    "id": "http_monitor_start_in",
    "type": "http in",
    "z": "tab_unicon",
    "name": "POST /monitor/start",
    "url": "/monitor/start",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 260,
    "wires": [["json_monitor_start"]]
  },
  {
    "id": "json_monitor_start",
    "type": "json",
    "z": "tab_unicon",
    "name": "parse json",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 260,
    "wires": [["fn_verify2"]]
  },
  {
    "id": "fn_verify2",
    "type": "function",
    "z": "tab_unicon",
    "name": "verify Bearer",
    "func": "const hdr = (msg.req && msg.req.headers && msg.req.headers.authorization) || '';\nif (!/^Bearer\s+/.test(hdr)) { msg.statusCode=401; msg.payload={success:false,error:'missing_token'}; return [null,msg]; }\nconst token = hdr.replace(/^Bearer\s+/,'');\ntry {\n  const jwt = global.get('jwt');\n  const sec = global.get('jwtSecret') || 'change-me';\n  msg.user = jwt.verify(token, sec);\n  return [msg, null];\n} catch(e){\n  msg.statusCode=401; msg.payload={success:false,error:'invalid_token'};\n  return [null,msg];\n}",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 260,
    "wires": [["httpreq_monitor_start"],["res_monitor_start"]]
  },
  {
    "id": "httpreq_monitor_start",
    "type": "http request",
    "z": "tab_unicon",
    "name": "proxy -> /unicon/api/opcua/monitor/start",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/unicon/api/opcua/monitor/start",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {"Authorization":"$req.headers.authorization"},
    "x": 860,
    "y": 260,
    "wires": [["res_monitor_start"]]
  },
  {
    "id": "res_monitor_start",
    "type": "http response",
    "z": "tab_unicon",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1120,
    "y": 260,
    "wires": []
  },
  {
    "id": "http_monitor_stop_in",
    "type": "http in",
    "z": "tab_unicon",
    "name": "POST /monitor/stop",
    "url": "/monitor/stop",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 320,
    "wires": [["json_monitor_stop"]]
  },
  {
    "id": "json_monitor_stop",
    "type": "json",
    "z": "tab_unicon",
    "name": "parse json",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 320,
    "wires": [["fn_verify3"]]
  },
  {
    "id": "fn_verify3",
    "type": "function",
    "z": "tab_unicon",
    "name": "verify Bearer",
    "func": "const hdr = (msg.req && msg.req.headers && msg.req.headers.authorization) || '';\nif (!/^Bearer\s+/.test(hdr)) { msg.statusCode=401; msg.payload={success:false,error:'missing_token'}; return [null,msg]; }\nconst token = hdr.replace(/^Bearer\s+/,'');\ntry {\n  const jwt = global.get('jwt');\n  const sec = global.get('jwtSecret') || 'change-me';\n  msg.user = jwt.verify(token, sec);\n  return [msg, null];\n} catch(e){\n  msg.statusCode=401; msg.payload={success:false,error:'invalid_token'};\n  return [null,msg];\n}",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 320,
    "wires": [["httpreq_monitor_stop"],["res_monitor_stop"]]
  },
  {
    "id": "httpreq_monitor_stop",
    "type": "http request",
    "z": "tab_unicon",
    "name": "proxy -> /unicon/api/opcua/monitor/stop",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/unicon/api/opcua/monitor/stop",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {"Authorization":"$req.headers.authorization"},
    "x": 860,
    "y": 320,
    "wires": [["res_monitor_stop"]]
  },
  {
    "id": "res_monitor_stop",
    "type": "http response",
    "z": "tab_unicon",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1120,
    "y": 320,
    "wires": []
  }
]
