server/nodered/flows/ntcip_vms_messaging.json
[
  {
    "id": "vms-inject-message",
    "type": "inject",
    "z": "ntcip-vms-flow",
    "name": "Set Message",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"connectionId\": \"conn-vms-01\", \"operation\": \"setMessage\", \"params\": {\"messageText\": \"ROAD WORK AHEAD\", \"messageNumber\": 1, \"beacon\": 1}}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "vms-http-request"
      ]
    ]
  },
  {
    "id": "vms-http-request",
    "type": "http request",
    "z": "ntcip-vms-flow",
    "name": "POST VMS Message",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/api/operation",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 350,
    "y": 100,
    "wires": [
      [
        "vms-parse-json"
      ]
    ]
  },
  {
    "id": "vms-parse-json",
    "type": "json",
    "z": "ntcip-vms-flow",
    "name": "Parse Response",
    "property": "payload",
    "action": "auto",
    "pretty": false,
    "x": 550,
    "y": 100,
    "wires": [
      [
        "vms-check-success"
      ]
    ]
  },
  {
    "id": "vms-check-success",
    "type": "switch",
    "z": "ntcip-vms-flow",
    "name": "Success?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true",
        "v": "true",
        "vt": "bool"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 750,
    "y": 100,
    "wires": [
      [
        "vms-success-debug"
      ],
      [
        "vms-error-debug"
      ]
    ]
  },
  {
    "id": "vms-success-debug",
    "type": "debug",
    "z": "ntcip-vms-flow",
    "name": "Success Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "statusVal": "Message set on VMS",
    "statusType": "auto",
    "x": 950,
    "y": 50,
    "wires": []
  },
  {
    "id": "vms-error-debug",
    "type": "debug",
    "z": "ntcip-vms-flow",
    "name": "Error Message",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "statusVal": "payload.error",
    "statusType": "auto",
    "x": 950,
    "y": 150,
    "wires": []
  },
  {
    "id": "vms-status-inject",
    "type": "inject",
    "z": "ntcip-vms-flow",
    "name": "Get VMS Status",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"connectionId\": \"conn-vms-01\", \"operation\": \"getStatus\"}",
    "payloadType": "json",
    "x": 150,
    "y": 250,
    "wires": [
      [
        "vms-status-http"
      ]
    ]
  },
  {
    "id": "vms-status-http",
    "type": "http request",
    "z": "ntcip-vms-flow",
    "name": "GET VMS Status",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/api/operation",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 350,
    "y": 250,
    "wires": [
      [
        "vms-status-parse"
      ]
    ]
  },
  {
    "id": "vms-status-parse",
    "type": "json",
    "z": "ntcip-vms-flow",
    "name": "Parse Status",
    "property": "payload",
    "action": "auto",
    "pretty": false,
    "x": 550,
    "y": 250,
    "wires": [
      [
        "vms-status-display"
      ]
    ]
  },
  {
    "id": "vms-status-display",
    "type": "function",
    "z": "ntcip-vms-flow",
    "name": "Format Status",
    "func": "if (msg.payload.success && msg.payload.data) {\n  const data = msg.payload.data;\n  msg.payload = {\n    timestamp: msg.payload.timestamp,\n    status: data.signStatus,\n    currentMessage: data.currentMessageNumber,\n    brightness: data.brightness,\n    errorStatus: data.errorStatus,\n    displayReady: data.signStatus === 1\n  };\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 250,
    "wires": [
      [
        "vms-status-debug"
      ]
    ]
  },
  {
    "id": "vms-status-debug",
    "type": "debug",
    "z": "ntcip-vms-flow",
    "name": "Status Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "statusVal": "payload.status",
    "statusType": "auto",
    "x": 950,
    "y": 250,
    "wires": []
  }
]
